/*Ordenamos en columnas las tarjetas*/
.informacionGeneralHistoria {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  justify-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

/* tamaño de las tarjetas */
.card {
  width: 650px;
  height: 400px;
  perspective: 1000px;
  
}

/* Permite que las tarjetas giren suavemente y que sus caras 
(front/back) mantengan su perspectiva*/
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/*Hace el efecto flip de la tarjeta */
.card:hover .card-inner {
  transform: rotateY(180deg);
}

/* posicionamiento de las tarjetas */
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: solid 10px;
  border-top: none;
  border-left: none;  
}

/* define el tamaño de las imagenes de la tarjeta*/
.card-front img,.card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  
  
}
/*  gira 180º la cara trasera*/
.card-back {
  transform: rotateY(180deg);
}

/* centra el titulo con un stilo*/
.Title{
  text-align: center;  
  width: 17%;
  margin: auto;
  color: black;
  margin-top: 80px;
  background: white;
  opacity: 70%;
}

/* el margen del texto con los bordes de su div */
h1{
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Responsive: cambia grid a 1 columna en pantallas pequeñas*/
@media (max-width: 1000px) {

  .informacionGeneralHistoria {
    grid-template-columns: 1fr;
  }
}
