.instalaciones {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px;
}

.informacionGeneralHistoria {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  justify-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
}
.card {
  width: 650px;
  height: 400px;
  perspective: 1000px;
  
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: solid 10px;
  border-top: none;
  border-left: none;  

}


.card-front img,.card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  /*box-shadow: 20px 25px 10px;*/
  
}
.card-back {
  transform: rotateY(180deg);
}
.Title{
  text-align: center;  
  width: 17%;
  margin: auto;
  color: black;
  margin-top: 80px;
  background: white;
  opacity: 70%;
}
h1{
  padding-top: 10px;
  padding-bottom: 10px;
}
