.instalaciones {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px;
}

.informacionGeneral {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas de igual tamaño */
    gap: 20px; /* Espacio entre las tarjetas */
    justify-items: center; /* Centrar las tarjetas horizontalmente */
    margin-top: 20px;
    margin-bottom: 20px;
}
.card {
  width: 650px;
  height: 400px;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  backface-visibility: hidden;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}



.card-front img,.card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
.card-back {
  transform: rotateY(180deg);
}