h1, h2{
    text-decoration: underline;
}

.informacionGeneral{
    
    display: flex;
    flex-direction: column;
}

#informacion{
    width: 60%;
    background-color: gray;
    border: 2px solid white;
    opacity: 0.9;
}

